In [13]:
import pandas as pd
import numpy as np
import math

In [14]:
df=pd.read_csv("heart.csv")
df

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,300,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,301,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,302,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,303,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,No

In [15]:
mean=df.mean()
mean

Unnamed: 0    152.000000
Age            54.438944
Sex             0.679868
RestBP        131.689769
Chol          246.693069
Fbs             0.148515
RestECG         0.990099
MaxHR         149.607261
ExAng           0.326733
Oldpeak         1.039604
Slope           1.600660
Ca              0.672241
dtype: float64

In [16]:
std=df.std()
std

Unnamed: 0    87.612784
Age            9.038662
Sex            0.467299
RestBP        17.599748
Chol          51.776918
Fbs            0.356198
RestECG        0.994971
MaxHR         22.875003
ExAng          0.469794
Oldpeak        1.161075
Slope          0.616226
Ca             0.937438
dtype: float64

n=303;

In [25]:
root=(math.sqrt(303));
root

17.406895185529212

In [26]:
stderr=(std/root);
stderr

Unnamed: 0    5.033223
Age           0.519258
Sex           0.026846
RestBP        1.011079
Chol          2.974506
Fbs           0.020463
RestECG       0.057160
MaxHR         1.314135
ExAng         0.026989
Oldpeak       0.066702
Slope         0.035401
Ca            0.053854
dtype: float64

In [28]:
gender=df['Sex'] = df.Sex.replace({1: "Male", 0: "Female"})
gender

0        Male
1        Male
2        Male
3        Male
4      Female
        ...
298      Male
299      Male
300      Male
301    Female
302      Male
Name: Sex, Length: 303, dtype: object

In [29]:
hd=dx = df[["AHD", "Sex"]].dropna()
hd

     AHD     Sex
0     No    Male
1    Yes    Male
2    Yes    Male
3     No    Male
4     No  Female
..   ...     ...
298  Yes    Male
299  Yes    Male
300  Yes    Male
301  Yes  Female
302   No    Male

[303 rows x 2 columns]

In [38]:
male=pd.crosstab(df.AHD, df.Sex)
male

Sex  Female  Male
AHD
No       72    92
Yes      25   114

In [39]:
malehd=114/(114+92)
malehd

0.5533980582524272

In [40]:
totm=114+92
totm

206

In [43]:
stderrmale = np.sqrt(malehd * (1 - malehd) / totm)
stderrmale

0.03463741785139291

In [45]:
zscore=1.96
lc = malehd - zscore* stderrmale
uc= malehd + zscore* stderrmale
print(lc)
print(uc)

0.48550871926369704
0.6212873972411572

In [47]:
femalehd=25/(25+72)
femalehd

0.25773195876288657

In [48]:
totf=25+72
totf

97

In [49]:
stderrfemale = np.sqrt(femalehd * (1 - femalehd) / totf)
stderrfemale

0.044409783007282766

In [52]:
zscore=1.96
flc = femalehd - zscore* stderrfemale
fuc= femalehd + zscore* stderrfemale
print(flc)
print(fuc)

0.17068878406861235
0.3447751334571608

In [59]:
stderrdiff = np.sqrt(stderrfemale**2 + stderrmale**2)
stderrdiff

0.0563203297412749

In [60]:
d = 0.55 - 0.26
lcb = d - 1.96 * stderrdiff
ucb = d + 1.96 * stderrdiff
print(lcb)
print(ucb)

0.17961215370710124
0.4003878462928988

In [61]:
chol=  df.groupby("Sex").agg({"Chol": [np.mean, np.std, np.size]})
chol

              Chol
              mean        std size
Sex
Female  261.752577  64.900891   97
Male    239.601942  42.649757  206

In [63]:
meanf=261.752577
sdf=64.900
size=97

In [66]:
stderrf=sdf/(np.sqrt(size))
stderrf

6.589596611717189