In [ ]:
import numpy as np
import pandas as pd
s=pd.read_csv("/content/supermarket_sales - Sheet1.csv")
s.head()

    Invoice ID Branch       City  ... gross margin percentage gross income Rating
0  750-67-8428      A     Yangon  ...                4.761905      26.1415    9.1
1  226-31-3081      C  Naypyitaw  ...                4.761905       3.8200    9.6
2  631-41-3108      A     Yangon  ...                4.761905      16.2155    7.4
3  123-19-1176      A     Yangon  ...                4.761905      23.2880    8.4
4  373-73-7910      A     Yangon  ...                4.761905      30.2085    5.3

[5 rows x 17 columns]

In [ ]:
s['Product line'].PME()

AttributeError: ignored