In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data=[[1,'Sunny','Sunny'],[2,'Cloudy','Cloudy'],[3,'Sunny','Cloudy'],[4,'Cloudy','Cloudy'],[5,'Sunny','Sunny'],[6,'Cloudy','Cloudy'],[7,'Rainy','Rainy'],[8,'Sunny','Sunny'],[9,'Rainy','Rainy'],[10,'Sunny','Cloudy'],[11,'Cloudy','Cloudy'],[12,'Rainy','Rainy'],[13,'Sunny','Sunny'],[14,'Rainy','Cloudy'],[15,'Cloudy','Rainy'],[16,'Sunny','Sunny'],[17,'Cloudy','Sunny'],[18,'Cloudy','Cloudy'],[19,'Cloudy','Rainy'],[20,'Sunny','Sunny']]
df_data=pd.DataFrame(data,columns=['Day','Vijayawada','Hyderabad'])
df_data

    Day Vijayawada Hyderabad
0     1      Sunny     Sunny
1     2     Cloudy    Cloudy
2     3      Sunny    Cloudy
3     4     Cloudy    Cloudy
4     5      Sunny     Sunny
5     6     Cloudy    Cloudy
6     7      Rainy     Rainy
7     8      Sunny     Sunny
8     9      Rainy     Rainy
9    10      Sunny    Cloudy
10   11     Cloudy    Cloudy
11   12      Rainy     Rainy
12   13      Sunny     Sunny
13   14      Rainy    Cloudy
14   15     Cloudy     Rainy
15   16      Sunny     Sunny
16   17     Cloudy     Sunny
17   18     Cloudy    Cloudy
18   19     Cloudy     Rainy
19   20      Sunny     Sunny

In [ ]:
countss=countsc=countsr=0
countcs=countcc=countcr=0
countrs=countrc=countrr=0
for j in range(0,20):
  if(data[j][1]=='Sunny' and data[j][2]=='Sunny'):
    countss+=1
  if(data[j][1]=='Sunny' and data[j][2]=='Cloudy'):
    countsc+=1
  if(data[j][1]=='Sunny' and data[j][2]=='Rainy'):
    countsr+=1

  if(data[j][1]=='Cloudy' and data[j][2]=='Sunny'):
    countcs+=1
  if(data[j][1]=='Cloudy' and data[j][2]=='Cloudy'):
    countcc+=1
  if(data[j][1]=='Cloudy' and data[j][2]=='Rainy'):
    countcr+=1

  if(data[j][1]=='Rainy' and data[j][2]=='Sunny'):
    countrs+=1
  if(data[j][1]=='Rainy' and data[j][2]=='Cloudy'):
    countrc+=1
  if(data[j][1]=='Rainy' and data[j][2]=='Rainy'):
    countrr+=1
ms_vjw=countsc+countss+countsr
mc_vjw=countcc+countcs+countcr
mr_vjw=countrc+countrs+countrr
print(countsc,countss,countsr)
print(countcc,countcs,countcr)
print(countrc,countrs,countrr)

2 6 0
5 1 2
1 0 3

In [ ]:
list=[[countss,countcs,countrs],[countcs,countcc,countcr],[countrs,countrc,countrr]]
df_1=pd.DataFrame(list,columns=['hyd_sunny','hyd_cloudy','hyd_rainy'],index=['vjw_sunny','vjw_cloudy','vjw_rainy'])
df_1

            hyd_sunny  hyd_cloudy  hyd_rainy
vjw_sunny           6           1          0
vjw_cloudy          1           5          2
vjw_rainy           0           1          3

In [ ]:
#joint probability p(Vijayawada=sunny, Hyderabad=sunny)
jpss=countss/20
jpss

0.3

In [ ]:
# p(Vijayawada=cloudy, Hyderabad=sunny)
jpcs=countcs/20
jpcs

0.05

In [ ]:
#  p(Vijayawada=rainy, Hyderabad=sunny)
jprs=countrs/20
jprs

0.0

In [ ]:
#p( Vijayawada=rainy, Hyderabad=rainy)
jprr=countrr/20
jprr

0.15

In [ ]:
#p(Vijayawada=cloudy, Hyderabad=cloudy)
jpcc=countcc/20
jpcc

0.25